/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  padding: 40px;
}
.heading {
  color: blue;
}
